<div class="actives-list-page">
    <div class="main-area">
      <p-card>
        <h2>Aqui você pode ver todas {{typeActive == 'acoes' ? 'as ações' : 'os fiis'}} diponíveis</h2>

        <div class="table-container">
            @if (isLoading) {
                <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '600px'}">
                    <app-loading />
                </div>
            } @else {
                <p-table
                    #dt1
                    [value]="actives"
                    [globalFilterFields]="['titulo', 'cotacao', 'p_vp', 'segmento']"
                    selectionMode="single"
                    dataKey="id"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [rows]="10"
                    [paginator]="true"
                    [scrollable]="true"
                    scrollHeight="600px"
                    [responsive]="true"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de um total de {totalRecords} Ativo(s)."
                    [resizableColumns]="true" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}"
                >
                    <ng-template #caption>
                        <div class="flex">
                            <p-button label="Limpar" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                            <p-iconfield iconPosition="left" class="ml-auto">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input pInputText [(ngModel)]="searchValue" type="text" (input)="filterGlobal($event, dt1)" placeholder="Procurar Ativo..." />
                            </p-iconfield>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th pSortableColumn="titulo" style="min-width: 12rem;">
                              <div class="flex justify-content-center align-items-center">
                                <span>
                                Título <p-sortIcon field="titulo" />
                                </span>
                                <p-columnFilter type="text" field="titulo" display="menu" matchMode="contains"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                              </div>
                            </th>
                            <th pSortableColumn="cotacao" style="min-width: 12rem;">
                              <div class="flex justify-content-center align-items-center">
                                <span>
                                Cotação <p-sortIcon field="cotacao" />
                                </span>
                                <p-columnFilter type="text" field="cotacao" display="menu" matchMode="contains"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                              </div>
                            </th>
                            <th pSortableColumn="p_vp" style="min-width: 12rem;">
                              <div class="flex justify-content-center align-items-center">
                                <span>
                                P/VP <p-sortIcon field="p_vp" />
                                </span>
                                <p-columnFilter type="text" field="p_vp" display="menu" matchMode="contains"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                              </div>
                            </th>
                            @if (typeActive == 'acoes') {
                              <th pSortableColumn="dy_12m" style="min-width: 12rem;">
                                <div class="flex justify-content-center align-items-center">
                                  <span>
                                  DY <p-sortIcon field="dy_12m" />
                                  </span>
                                  <p-columnFilter type="text" field="dy_12m" display="menu" matchMode="contains"
                                  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                                </div>
                              </th>
                            } @else {
                              <th pSortableColumn="dy_12M" style="min-width: 12rem;">
                                <div class="flex justify-content-center align-items-center">
                                  <span>
                                  DY <p-sortIcon field="dy_12M" />
                                  </span>
                                  <p-columnFilter type="text" field="dy_12M" display="menu" matchMode="contains"
                                  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                                </div>
                              </th>
                            }
                            <th pSortableColumn="segmento" style="min-width: 12rem;">
                              <div class="flex justify-content-center align-items-center">
                                <span>
                                Segmento <p-sortIcon field="segmento" />
                                </span>
                                <p-columnFilter type="text" field="segmento" display="menu" matchMode="contains"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                              </div>
                          </th>
                            <th pSortableColumn="product.orderProduct" style="min-width: 12rem;">
                              <div class="flex justify-content-center align-items-center">
                                <span>
                                Ações
                                </span>
                              </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-active>
                        <tr>
                            <td>
                              {{ active.titulo }}
                            </td>
                            <td>
                              {{ active.cotacao }}
                            </td>
                            <td>
                              {{ active['p/vp'] }}
                            </td>
                            <td>
                              @if (typeActive == 'acoes'){
                                {{ active.dy_12m }}
                              } @else {
                                {{ active.dy_12M }}
                              }
                            </td>
                            <td>
                              <p-tag [value]="active.segmento" [severity]="getSeverity(active.segmento)" />
                            </td>
                            <td>
                              <div class="flex justify-content-center align-items-center">
                                <p-button (click)="navigateToAnalitic(active.titulo)" rounded="true" icon="pi pi-arrow-right"></p-button>
                              </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="7">Nenhum ativo foi encontrado.</td>
                        </tr>
                    </ng-template>
                </p-table>
            }
        </div>
      </p-card>
    </div>
</div>

