<div class="analitic-page">
  @if (isLoading){
    <div class="analitic-loading">
      <app-loading />
    </div>
  } @else {
    @if (isError){
      <div class="analitic-loading">
        <p-card [ngStyle]="{width: '100%'}">
          <h3>Não conseguimos encontrar o ativo informado!</h3>
          <div class="flex justify-content-center align-items-center">
            <img class="not-found-image" src="../../../../../assets/images/not-found.png" />
          </div>
          <div class="flex justify-content-center align-items-center gap-3">
            <p-button label="Voltar" icon="pi pi-arrow-left" iconPos="left" (click)="navigateTo('home')"></p-button>
            <p-button label="Buscar Outro" icon="pi pi-search" iconPos="right" (click)="openInputSearchDialog()"></p-button>
          </div>
        </p-card>
      </div>
    } @else {
      <div class="title-card">
        <p-card [ngStyle]="{width: '80%'}">
          <div class="flex justify-content-between">
            <div class="flex flex-row justify-content-center align-items-center gap-3">
              @if (typeActive == 'acoes'){
                @if (activeInfos.img.length > 0){
                  <img class="img-logo" [src]="'data:image/jpeg;base64,' + activeInfos.img" />
                } @else {
                  <img class="img-logo" src="../../../../../assets/images/acoes-logo2.png" />
                }
              }
              @if (typeActive == 'fiis'){
                <img class="img-logo" src="../../../../../assets/images/fiis-logo.png" />
              }

              <div class="flex flex-column justify-content-center align-content-center">
                <h2>{{activeInfos.ticker}}</h2>
                <h4>{{activeInfos.nome}}</h4>
              </div>
            </div>
            <div class="flex justify-content-center align-items-center">
              <h2>{{activeInfos.cotacao}}</h2>
            </div>
          </div>
        </p-card>
      </div>

      <div class="sub-title-card">
        <p-card header="Cotação" [ngStyle]="{flex: '1'}">
          <div class="flex justify-content-center align-content-center">
            <h3>{{activeInfos.cotacao}}</h3>
          </div>
        </p-card>

        <p-card header="P/VP" [ngStyle]="{flex: '1'}">
          <div class="flex justify-content-center align-content-center">
            <h3>{{activeInfos['p/vp']}}</h3>
          </div>
        </p-card>

        @if (typeActive == 'acoes') {
          <p-card header="P/L" [ngStyle]="{flex: '1'}">
            <div class="flex justify-content-center align-content-center">
              <h3>{{activeInfos['p/l']}}</h3>
            </div>
          </p-card>

          <p-card header="DY" [ngStyle]="{flex: '1'}">
            <div class="flex justify-content-center align-content-center">
              <h3>{{activeInfos.dy_12m}}</h3>
            </div>
          </p-card>
        }

        @if (typeActive == 'fiis') {
          <p-card header="Liquidez Diária" [ngStyle]="{flex: '1'}">
            <div class="flex justify-content-center align-content-center">
              <h3>{{activeInfos.liquidez_diaria}}</h3>
            </div>
          </p-card>

          <p-card header="DY" [ngStyle]="{flex: '1'}">
            <div class="flex justify-content-center align-content-center">
              <h3>{{activeInfos.dy_12M}}</h3>
            </div>
          </p-card>
        }
      </div>

      @if (typeActive == 'acoes') {
        <div class="avaliation-card">
          <p-card header="Cálculo Fundamentalista" [ngStyle]="{width: '80%'}">
            <div class="flex justify-content-between flex-column">
              <p>Fórmula de Graham: &radic;(22,5 • LPA • VPA) = <p-tag severity="success" value="Valor Justo" /></p>
              <p>Aplicando a fórmula: &radic;(22,5 • {{activeInfos.lpa}} • {{activeInfos.vpa}}) =
                @if (isNotPossibleGraham) {
                  <p-tag [severity]="getSeverity()" value="Impossível Calcular" />
                } @else {
                  <p-tag [severity]="getSeverity()" [value]="'R$ ' + grahamValue" />
                }
              </p>
              <p>De acordo com a fórmula de Benjamin Graham a <p-tag severity="info" [value]="activeInfos.ticker" /> esta: <p-tag [severity]="getSeverity()" [value]="grahamStatus" /></p>
            </div>
          </p-card>
        </div>
      }

      @if (typeActive == 'acoes') {
        <div class="informations-card">
          <p-card header="Analisando os Indicadores da Ação" [ngStyle]="{width: '100%'}">
            <div class="flex justify-content-end align-items-center mb-4 mr-3 gap-3">
              <span class="pi pi-question-circle" [pTooltip]="tooltipContent" tooltipPosition="top" placeholder="Top"></span>
              @if (showAllInformations){
                <span (click)="toggleShowAllInformations()" [ngStyle]="{fontSize: '1.5rem'}" class="pi pi-eye cursor-pointer"></span>
              } @else {
                <span (click)="toggleShowAllInformations()" [ngStyle]="{fontSize: '1.5rem'}" class="pi pi-eye-slash cursor-pointer"></span>
              }
            </div>

            <div class="information-note mb-4">
              <h3>Nota do Ativo: {{changeNoteFormat(activeInfos.nota)}}<i [class]="defineActiveNoteStamp()" [style]="{color: defineActiveColorStamp()}"></i></h3>
              <!-- <h3>Nota do Ativo: 5<i class="pi pi-times-circle" style="color: red"></i></h3> -->
            </div>

            <div class="cards-container mt-2">
              @for (acao of acoesInfos; track acao.reference) {
                @if (acao.show){
                  <p-card [className]="getCardClass(acao)" [header]="acao.header">
                    <div class="flex justify-content-center align-content-center mt-1">
                      @if (acao.tooltip && activeInfos[acao.reference]){
                        <span class="card-info" [pTooltip]="activeInfos[acao.reference]" tooltipPosition="top" placeholder="Top">{{activeInfos[acao.reference]}}</span>
                      } @else {
                        <span class="card-info">{{activeInfos[acao.reference] ? activeInfos[acao.reference] : 'NÃO ENCONTRADO'}}</span>
                      }
                    </div>
                  </p-card>
                }
              }

              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </p-card>
        </div>
      }

      @if (typeActive == 'fiis'){
        <div class="informations-card">
          <p-card header="Analisando os Indicadores do Fii" [ngStyle]="{width: '100%'}">
            <div class="flex justify-content-end align-items-center mb-4 mr-3 gap-3">
              <span class="pi pi-question-circle" [pTooltip]="tooltipContent" tooltipPosition="top" placeholder="Top"></span>
              @if (showAllInformations){
                <span (click)="toggleShowAllInformations()" [ngStyle]="{fontSize: '1.5rem'}" class="pi pi-eye cursor-pointer"></span>
              } @else {
                <span (click)="toggleShowAllInformations()" [ngStyle]="{fontSize: '1.5rem'}" class="pi pi-eye-slash cursor-pointer"></span>
              }
            </div>

            <div class="information-note mb-4">
              <h3>Nota do Ativo: {{changeNoteFormat(activeInfos.nota)}}<i [class]="defineActiveNoteStamp()" [style]="{color: defineActiveColorStamp()}"></i></h3>
              <!-- <h3>Nota do Ativo: 5<i class="pi pi-times-circle" style="color: red"></i></h3> -->
            </div>

            <div class="cards-container mt-2">
              @for (fii of fiisInfos; track fii.reference) {
                @if (fii.show){
                  <p-card [className]="getCardClass(fii)" [header]="fii.header">
                    <div class="flex justify-content-center align-content-center mt-1">
                      @if (fii.tooltip && activeInfos[fii.reference]){
                        <span class="card-info" [pTooltip]="activeInfos[fii.reference]" tooltipPosition="top" placeholder="Top">{{activeInfos[fii.reference]}}</span>
                      } @else {
                        <span class="card-info">{{activeInfos[fii.reference] ? activeInfos[fii.reference] : 'NÃO ENCONTRADO'}}</span>
                      }
                    </div>
                  </p-card>
                }
              }

              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </p-card>
        </div>
      }
    }
  }
  <ng-template #tooltipContent>
    <div class="flex flex-column">
      <h4>Legenda:</h4>
      <div class="flex flex-column gap-1">
        <span style="color:green">Verde = Bom</span>
        <span style="color:yellow">Amarelo = Médio</span>
        <span style="color:red">Vermelho = Ruim</span>
        <span>Branco = Não Avaliado</span>
      </div>
    </div>
  </ng-template>
</div>
