<div class="home-page">
  <div class="main-area">
    <h2 class="text-center uppercase font-italic mt-0" [ngStyle]="{marginBottom: '10px'}"><span>INVESIGHT</span></h2>

    <p-card>
      <h2>Experimente a revolução na gestão de ativos e veja como é fácil investir com confiança!</h2>
      <!-- <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum  mollis nisl, e!</h2> -->

      <div class="input-area">
        <!-- <input type="text" pInputText placeholder="Digite um ativo..." /> -->

        <p-iconfield (click)="openInputSearchDialog()">
          <input pInputText id="input_ativo" placeholder="Ativo desejado" autocomplete="off" />
          <p-inputicon class="pi pi-search" />
        </p-iconfield>
      </div>

      <div class="more-info">
        <p>Descubra o caminho para investimentos inteligentes com análises fundamentalistas automatizadas e estruturadas.</p>
        <p [style]="{marginTop: '-2px'}">Nossa plataforma transforma dados do mercado em insights claros e precisos.</p>
      </div>
    </p-card>
  </div>
  <div class="ativos-cards">
    <div class="ativo">
      <p-card styleClass="active">
        <h2>Ações</h2>

        <div class="ativo-item">
          @if (isLoadingTopAcoes) {
            <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '360px'}">
              <app-loading />
            </div>
          } @else {
            <ul>
              @for (acao of topAcoes; track acao.ticker) {
                <li (click)="navigateTo('analitic/acoes/' + acao.ticker)">
                  <div class="flex justify-content-start align-items-center gap-3">
                    @if (acao.img.length > 0){
                      <img class="img-logo" [src]="'data:image/jpeg;base64,' + acao.img" />
                    } @else {
                      <img class="img-logo" src="../../../../../assets/images/acoes-logo2.png" />
                    }
                    {{ acao.ticker }}
                  </div>

                  <span class="flex justify-content-start" style="min-width:5rem;">{{acao.cotacao}}</span>
                </li>
              }
            </ul>

            <div class="button-area">
              <p-button label="Ver todas" icon="pi pi-arrow-right" iconPos="right" (click)="navigateTo('all/acoes')"></p-button>
            </div>
          }
        </div>
      </p-card>
    </div>

    <div class="ativo">
      <p-card styleClass="active">
        <h2>Fiis</h2>

        <div class="ativo-item">
          @if (isLoadingTopFiis) {
            <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '360px'}">
              <app-loading />
            </div>
          } @else {
            <ul>
              @for (fii of topFiis; track fii.ticker) {
                <li (click)="navigateTo('analitic/fiis/' + fii.ticker)">
                  <div class="flex justify-content-start align-items-center gap-3">
                    <img class="img-logo" src="../../../../../assets/images/fiis-logo.png" />
                    {{ fii.ticker }}
                  </div>

                  <span class="flex justify-content-start" style="min-width:5rem;">{{fii.cotacao}}</span>
                </li>
              }
            </ul>

            <div class="button-area">
              <p-button label="Ver todos" icon="pi pi-arrow-right" iconPos="right" (click)="navigateTo('all/fiis')"></p-button>
            </div>
          }
        </div>
      </p-card>
    </div>

    <div class="ativo">
      <p-card styleClass="active">
        <h2>Tesouro Direto</h2>

        <div class="construcao-img-area">
          <img class="construcao-img" src="../../../../../assets/images/area_construcao2.png" />
        </div>

        <!-- <div class="ativo-item">
          <ul>
            <li>
              <span>SELIC</span> <span>R$30</span>
            </li>
            <li>
              <span>IPCA</span> <span>R$30</span>
            </li>
            <li>
              <span>PRÉ FIXADO</span> <span>R$30</span>
            </li>
            <li>
              <span>ALGO AQUI</span> <span>R$30</span>
            </li>
          </ul>

          <div class="button-area">
            <p-button label="Ver todos" icon="pi pi-arrow-right" iconPos="right" [raised]="true"></p-button>
          </div>
        </div> -->
      </p-card>
    </div>
  </div>
</div>
