svg {
  width: 50px;
  height: 200px;
}

.img-logo{
  width: 5%;
  height: 10%;
}

h3 {
  text-transform: uppercase;
  font-style: italic;

  color: var(--title-color);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 9; /* acima dos outros elementos */
  background-color: white; /* importante para não ficar transparente quando sobreposto */
}

:host ::ng-deep .p-menubar {
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;

  padding-right: 50px;
  user-select: none;

  border-radius: 0px;

  font-size: 20px;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  // border-bottom: solid 0.5px black;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

:host ::ng-deep .p-menubar-end {
  margin-left: 0% !important;
}

:host ::ng-deep .p-button {
  background-color: transparent !important; /* Cor de fundo */
  color: var(--main-color) !important;              /* Cor do texto */
  border: none !important;             /* Sem borda */
  padding: 12px 24px;       /* Espaçamento interno */
  font-size: 20px !important;          /* Tamanho da fonte */
  border-radius: 4px;       /* Bordas arredondadas */
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra inicial */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave */
  cursor: pointer;          /* Cursor pointer ao passar o mouse */

  &:hover{
    background-color: transparent !important;
    color: var(--main-color) !important;
    border: none !important;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais acentuada no hover */
    box-shadow: 0 4px 8px var(--main-color); /* Sombra mais acentuada no hover */
    transform: translateY(-2px);             /* Leve elevação no hover */
  }
}

:host ::ng-deep .p-menubar-item-label {
  @media (min-width: 600px){
    white-space: nowrap;  // Não permite que o conteúdo quebre uma linha.
    overflow: hidden;  // Esconde o conteúdo que passar do limite do max-width
    text-overflow: ellipsis;  // Coloca os ... quando o espaço acabar.
    max-width: 100%;  // Determinando o espaço máximo que esse texto pode ocupar.
    height: 23px;
  }
}

:host ::ng-deep .p-ripple{
  @media (min-width: 600px){
    max-width: 220px;
  }
}
