<div class="shadow-div" [ngStyle]="{'display': visible ? 'inline': 'none', 'opacity': visible ? '1': '0'}" (click)="closeDiaog()"></div>
<div class="card flex justify-center">
  <p-dialog header="Procure algum ativo" (onShow)="handleFocus($event, inputAtivo)" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [modal]="false">
    <div class="input-area">
      <p-floatlabel>
        <p-iconfield>
          <input #inputAtivo [(ngModel)]="inputValue" (ngModelChange)="onInputChange($event)" pInputText id="input_ativo" class="uppercase" />
          <p-inputicon class="pi pi-search" />
        </p-iconfield>
        <label for="input_ativo" [ngStyle]="{opacity: '0.6'}">Ativo desejado</label>
      </p-floatlabel>
    </div>

    @if (searchResponseActives && searchResponseActives.length > 0){
      <div class="ativo-item">
        <h3>Ativos Encontrados</h3>
        @if (isLoadingSearching) {
          <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '100px'}">
            <app-loading />
          </div>
        } @else {
          <ul>
            @for (active of searchResponseActives; track active.ticker) {
              <li (click)="navigateTo('analitic/' + active.tipo_ativo + '/' + active.ticker)">
                <div class="flex justify-content-start align-items-center gap-3">
                  @if (active.tipo_ativo == "acoes"){
                    @if (active.img.length > 0){
                      <img class="img-logo" [src]="'data:image/jpeg;base64,' + active.img" />
                    } @else {
                      <img class="img-logo" src="../../../../../assets/images/acoes-logo2.png" />
                    }
                  } @else {
                    <img class="img-logo" src="../../../../../assets/images/fiis-logo.png" />
                  }
                  {{ active.ticker }}
                </div>
                <span class="flex justify-content-start" style="min-width:5rem;">{{active.cotacao}}</span>
              </li>
            }
            @if (searchResponseActives[0].ticker != inputValue.toUpperCase()){
              <li (click)="navigateTo('analitic/acoes/' + inputValue)">
                <div class="flex justify-content-start align-items-center gap-3">
                  <img class="img-logo" src="../../../../../assets/images/acoes-logo1.png" />
                  {{ inputValue.toUpperCase() }}
                </div>

                <span class="flex justify-content-start" style="min-width:5rem;"><p-tag value="Ação" severity="success" /></span>
              </li>
              <li (click)="navigateTo('analitic/fiis/' + inputValue)">
                <div class="flex justify-content-start align-items-center gap-3">
                  <img class="img-logo" src="../../../../../assets/images/acoes-logo1.png" />
                  {{ inputValue.toUpperCase() }}
                </div>

                <span class="flex justify-content-start" style="min-width:5rem;"><p-tag value="Fii" severity="warn" /></span>
              </li>
            }
          </ul>
        }
      </div>
    } @else if(searchResponseActives && searchResponseActives.length == 0 && inputValue != '') {
      <div class="ativo-item">
        <h3>Nenhum Ativo Encontrado</h3>
        <h4>Investigar Detalhadamente?</h4>
        <ul>
          <li (click)="navigateTo('analitic/acoes/' + inputValue.toUpperCase())">
            <div class="flex justify-content-start align-items-center gap-3">
              <img class="img-logo" src="../../../../../assets/images/acoes-logo1.png" />
              {{ inputValue.toUpperCase() }}
            </div>

            <span class="flex justify-content-start" style="min-width:5rem;"><p-tag value="Ação" severity="success" /></span>
          </li>
          <li (click)="navigateTo('analitic/fiis/' + inputValue.toUpperCase())">
            <div class="flex justify-content-start align-items-center gap-3">
              <img class="img-logo" src="../../../../../assets/images/acoes-logo1.png" />
              {{ inputValue.toUpperCase() }}
            </div>

            <span class="flex justify-content-start" style="min-width:5rem;"><p-tag value="Fii" severity="warn" /></span>
          </li>
        </ul>
      </div>
    } @else {
      <div class="ativo-item">
        <h3>Ações Mais Vistas:</h3>
        @if (isLoadingTopActives){
          <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '100px'}">
            <app-loading />
          </div>
        } @else {
          <ul>
            @for (acao of topAcoes; track acao.ticker) {
              <li (click)="navigateTo('analitic/acoes/' + acao.ticker)">
                <div class="flex justify-content-start align-items-center gap-3">
                  @if (acao.img.length > 0){
                    <img class="img-logo" [src]="'data:image/jpeg;base64,' + acao.img" />
                  } @else {
                    <img class="img-logo" src="../../../../../assets/images/acoes-logo2.png" />
                  }
                  {{ acao.ticker }}
                </div>

                <span class="flex justify-content-start" style="min-width:5rem;">{{acao.cotacao}}</span>
              </li>
            }
          </ul>
        }

        <h3>Fiis Mais Vistos:</h3>
        @if (isLoadingTopActives){
          <div class="flex justify-content-center align-items-center" [ngStyle]="{height: '100px'}">
            <app-loading />
          </div>
        } @else {
          <ul>
            @for (fii of topFiis; track fii.ticker) {
              <li (click)="navigateTo('analitic/fiis/' + fii.ticker)">
                <div class="flex justify-content-start align-items-center gap-3">
                  <img class="img-logo" src="../../../../../assets/images/fiis-logo.png" />
                  {{ fii.ticker }}
                </div>

                <span class="flex justify-content-start" style="min-width:5rem;">{{fii.cotacao}}</span>
              </li>
            }
          </ul>
        }
      </div>
    }
  </p-dialog>
</div>
