<div class="shadow-div" [ngStyle]="{'display': visible ? 'inline': 'none', 'opacity': visible ? '1': '0'}" (click)="closeDiaog()"></div>
<div class="card flex justify-center">
  <p-dialog header="Procure algum ativo" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [modal]="false">
    <div class="input-area">
      <p-floatlabel>
        <p-iconfield>
          <input [(ngModel)]="inputValue" (ngModelChange)="onInputChange($event)" pInputText id="input_ativo" />
          <p-inputicon class="pi pi-search" />
        </p-iconfield>
        <label for="input_ativo" [ngStyle]="{opacity: '0.6'}">Ativo desejado</label>
      </p-floatlabel>
    </div>

    @if (searchResponseActives && searchResponseActives.length > 0){
      <div class="ativo-item">
        <h3>Ativos Encontrados</h3>
        <ul>
          @for (active of searchResponseActives; track active.ticker) {
            <li (click)="navigateTo('analitic/' + active.tipo_ativo + '/' + active.ticker)">
              <span>{{active.ticker}}</span> <span class="flex justify-content-start" style="min-width:5rem;">{{active.cotacao}}</span>
            </li>
          }
        </ul>
      </div>
    } @else if(searchResponseActives && searchResponseActives.length == 0 && inputValue != '') {
      <div class="ativo-item">
        <h3>Nenhum Ativo Encontrado</h3>
      </div>
    } @else {
      <div class="ativo-item">
        <h3>Ações Mais Vistas:</h3>
        <ul>
          @for (acao of topAcoes; track acao.ticker) {
            <li (click)="navigateTo('analitic/acoes/' + acao.ticker)">
              <div class="flex justify-content-start align-items-center gap-3">
                <img class="img-logo" [src]="'data:image/jpeg;base64,' + acao.img" />
                {{ acao.ticker }}
              </div>

              <span class="flex justify-content-start" style="min-width:5rem;">{{acao.cotacao}}</span>
            </li>
          }
        </ul>

        <h3>Fiis Mais Vistos:</h3>
        <ul>
          @for (fii of topFiis; track fii.ticker) {
            <li (click)="navigateTo('analitic/fiis/' + fii.ticker)">
              <div class="flex justify-content-start align-items-center gap-3">
                <img class="img-logo" src="../../../../../assets/images/fiis-logo.png" />
                {{ fii.ticker }}
              </div>

              <span class="flex justify-content-start" style="min-width:5rem;">{{fii.cotacao}}</span>
            </li>
          }
        </ul>
      </div>
    }
  </p-dialog>
</div>
