<footer class="p-3 surface-100 text-center text-color border-top-1 surface-border footer">
  <div class="text-sm mb-2">
    © 2025 Witor Oliveira. Todos os direitos reservados.
  </div>

  <div class="flex justify-center gap-1">
    <a href="https://github.com/Drarlian/painel-analisa-ativos-front" class="text-primary hover:underline" target="_blank">
      GitHub
    </a>
    |
    <a href="mailto:witoredson@gmail.com" class="text-primary hover:underline">
      Contato
    </a>
    |
    <a href="https://www.linkedin.com/in/witoroliveira/" class="text-primary hover:underline" target="_blank">
      LinkedIn
    </a>
  </div>

  <div class="text-xs mt-2 text-500">
    Versão 0.0.5
  </div>
</footer>
